<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1086560102226-iphuoddo44n4pu0uvf1amaqv4dv380tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086560102226-iphuoddo44n4pu0uvf1amaqv4dv380tm</string>
	<key>API_KEY</key>
	<string>AIzaSyC8q2G8NK3WCwC1EDQiBYWO7B1LmQ8PEn4</string>
	<key>GCM_SENDER_ID</key>
	<string>1086560102226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticktocp.passenger</string>
	<key>PROJECT_ID</key>
	<string>ticktoc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ticktoc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086560102226:ios:a7a6328f1e86506e</string>
	<key>DATABASE_URL</key>
	<string>https://ticktoc-app.firebaseio.com</string>
</dict>
</plist>