<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>243435127466-if87uqj9lkt0qe88oarrneoil9tlp7gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243435127466-if87uqj9lkt0qe88oarrneoil9tlp7gu</string>
	<key>API_KEY</key>
	<string>AIzaSyAQPk1hdmEi1MgAsTK83gthxTDzQhGvZYM</string>
	<key>GCM_SENDER_ID</key>
	<string>243435127466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexus.passenger</string>
	<key>PROJECT_ID</key>
	<string>nexus-230912</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-230912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:243435127466:ios:f9638ddd4ba451e5</string>
	<key>DATABASE_URL</key>
	<string>https://nexus-230912.firebaseio.com</string>
</dict>
</plist>
