<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TickTok User.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
				<key>dateExpires</key>
				<string>17/10/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ACFloatingTextfield_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DOAlertController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>M13Checkbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4390D686FD4FC5843386C545471285F2FE2C6A56</string>
						<key>dateExpires</key>
						<string>17/10/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TransitionButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J94YJVUHB7</string>
						<key>name</key>
						<string>TiCKTOC TECHNOLOGiES</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J94YJVUHB7.EWW.TickTok-User</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J94YJVUHB7</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>J94YJVUHB7.EWW.TickTok-User</string>
				</array>
			</dict>
			<key>name</key>
			<string>TickTok User.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8acfe694-70a4-4f27-8dd6-6a7f58dfbc4b</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J94YJVUHB7</string>
				<key>name</key>
				<string>TiCKTOC TECHNOLOGiES</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
